@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );

*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
body{
    font-family: Dancing Script;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* start header */
.header{
    padding: 15px 0;
    background-color:white;
    position: sticky;
    top: 0;
    right: 0;
    left: 0;
    z-index: 100;
}
.header img{
    width: 150px;
}
.header .links a i{
    color: black;
    font-size: 20px;
}
.header .links{
    display: flex;
    gap: 20px;
}
.header .navbar-nav .nav-link{
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
/* end header */
/* about section */
.about{
    background-image: url(../img/about.webp);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.about-text h2{
    font-size: 50px;
    font-weight: 400;
    color:#9c0646;
}
/* end about section */

/* we-are section */
.we-are{
    padding: 70px 0;
}
.we-are .we-are-text{
    margin-left: 70px;
}
.we-are .we-are-text h2{
    font-size: 50px;
    font-weight: 400;
    width: 40%;
}
.we-are .we-are-text p{
    font-size: 16px;
    line-height: 30px;
    color: #000;
    padding: 20px 0 42px;
    width: 90%;
}
.we-are .we-are-text a{
    color: black;
    position: relative;
}
.we-are .we-are-text a::after{
    content: "";
    border-bottom: 2px solid #9c0646;
    position: absolute;
    bottom: -1px;
    left: 0;
    width: -100%;
    transition: all .5s;
}
.we-are .we-are-text a:hover{
    color: #9c0646;
}
.we-are .we-are-text .a:hover .a::after{
    width: 100%;
    transform: scale(0);
}
/* end we-are section */

/* video section */
.recipe{
    margin-top: 30px;
}
.recipe .container{
    width: 77%;
}
.recipe .recipe-video {
    position: relative;
}
.recipe .recipe-video i{
    position: absolute;
    left: 48%;
    bottom: 44%;
    color: white;
    border-radius: 50%;
    background-color: orange;
    padding: 20px 25px;
    font-size: 20px;
    z-index: 2;
}
.recipe .recipe-video .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #000000b3;
    z-index: -1;
    transition: all .8s;
}
.recipe-video:hover .overlay{
    z-index: 1;
}
/* end video section */

/* store section */

.store .store-text{
    margin: 100px 0;
    text-align: center;
}
.store .store-text p{
    margin: 30px auto;
    width: 48%;
    line-height: 30px;
    font-size: 15px;
    color: #000;
}
.store .store-text h3{
    font-size: 38px;
    font-weight: 500;
}
.store .store-img2{
    margin-top: 32px;
}
.store .store-img{
    overflow: hidden;
}
.store .store-img img{
    transition: all .5s;
}
.store .store-img:hover img{
    filter: grayscale(1);
    transform: scale(1.1);
}
.store .place{
    margin: 70px 0 70px 30px;
}
.store .place h5{
    margin: 30px 0;
    font-size: 16px;
}
.store .place p{
    margin: 15px 0;
    font-size: 15px;
}
/* end store section */

/* reasons section */
.reasons{
    background-image: url(../img/h1.webp);
    height: 450px;
    background-position: center;
    background-size: cover;
    margin-top: 30px;
    display: flex;
    align-items: center;
}

.reasons .headline{
    display: flex;
    justify-content: center;
}
.reasons .headline h2{
    margin-bottom: 70px;
    font-size: 40px;
    font-weight: 300;
    position: relative;
    color: white;
}
.reasons .headline h2::after{
    content: "";
    position: absolute;
    left: 42%;
    right: 0;
    bottom: -60%;
    border-bottom: 2px solid #9c0646;
    width: 55px;
}
.reasons .reason h4{
    font-size: 22px;
    font-weight: 500;
    color: white;
}
.reasons .reason p{
    font-size: 16px;
    line-height: 30px;
    color: white;
}
.reasons .reason{
   text-align: center;
}

/* end reasons section */
/* team section */
.team{
    padding: 70px 0;
}
.team .team-text{
    text-align: center;
    margin: 40px 0;
}
.team .team-text h3{
    font-size: 38px;
    font-weight: 500;
    margin-bottom: 25px;
}
.team .team-text p{
    line-height: 30px;
    font-size: 15px;
    color: #000;
    width: 39%;
    margin: auto;
}
.team .person-title{
    text-align: center;
    color: #000;
}
.team .person-title h4{
    margin: 18px 0;
}
.team .person-title p{
    font-size: 14px;
}
.team .person-img{
    overflow: hidden;
}
.team .person-img img{
    transition: all .5s;
}
.team .person-img:hover img{
    filter: grayscale(1);
    transform: scale(1.1);
}
/* end team section */

/* start top footer */
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid;
    width: 54px;
}
.footer .column h4{
    margin-bottom: 20px;
    position: relative;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    font-family: Sofia Pro;
}
.footer .column ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.footer .column ul a:hover{
    color: #9c0646;
}
.footer .column ul li i{
    font-size: 15px;
    margin-right: 10px;
}
.footer .column .social-media{
    margin-top: 15px;
}
.footer .column .social-media a{
    padding: 5px;
}
.footer .column .social-media a i{
    color: #000000;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}
.footer .column .social-media a:hover i{
    color: #9c0646;
    border:2px solid #9c0646 ;
}
.footer .form{
    margin-top: 20px;
}
.footer .column .input{
    line-height: 3.5;
    padding:0 8.6rem 0 .8rem;
    border: 1px solid #c8c7c7
}
.footer .column .btn{
    position: absolute;
    right: 90px;
    top: 91px;
    padding: 16px 20px;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
    border-radius: 0;
}
.footer .column .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end top footer */



/* start bottom footer */
.final{
    border-top: 1px solid #E8E8F2;
    padding: 20px 0;
}
.final .payment{
    width: 300px;
}
.final .logo{
    width: 150px;
}

@media screen and (max-width:768px){
    /* .container{
        width: 100%;
    } */
    .we-are .we-are-text h2 {
        width: 70%;
    }
    .we-are .we-are-text p{
        width: 80%;
    }
    .recipe .container{
        width: 100%;
    }
    .store .store-text p{
        width: 95%;
    }
    .store .store-text {
        margin: 70px 0 10px 0;
    }
    .store .store-img2{
        margin-top: 15px;
    }
    .footer .column .btn{
        right: 50%;
        top: 90%;
    }
    .team{
        padding: 0;
    }
    .team .team-text p{
        width: 100%;
    }
    .about{
        height: 310px;
    }
}
@media screen and (max-width:600px){
    .footer .column .btn{
        right: 0;
        top: 94.5%;
    }
    .final .foot{
        margin: 15px auto;
    }
    .we-are .we-are-text{
        margin-left: 0;
    }
    .we-are .we-are-text h2{
        width: 100%;
    }
    .we-are .we-are-text p{
        width: 100%;
    }
    .recipe .recipe-video i{
        left: 45%;
        padding: 10px 15px;
    }
    .team .person-img{
        width: 80%;
        margin: auto;
    }
    .reasons .reason h4{
        font-size: 16px;
    }
    .reasons .reason p{
        line-height: 20px;
    }
    .store .place{
        margin: 70px 0 70px 0;
    }
}






