@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
body{
    font-family: Dancing Script;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* header */
.header{
    padding: 15px 0;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header img{
    width: 150px;
}
.header .links a i{
    color: black;
    font-size: 20px;
}
.header .links{
    display: flex;
    gap: 20px;
}
.header .navbar-nav .nav-link{
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

/* header */

.contact-img{
    background-image: url(../img/about.webp);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.content{
    padding: 70px 0;
}
.contact-img .contact-text h2{
    font-size: 46px;
    font-weight: 400;
    color: #9c0646;
}
.content .form-text{
    margin-bottom: 40px;
}
.content .form-text h5{
    font-size: 30px;
    font-weight: 400;
    padding-bottom: 15px;
    color: #000;
}
.content .form-text p{
    font-size: 15px;
    color: #000;
    line-height: 30px;
    width: 85%;
}
.content .form form{
    display: flex;
    flex-direction: column;
}
.content .form input{
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #000;
    padding: 10px 0;
}
::placeholder{
    font-size: 20px;
    color: #495057;
}
:focus{
    border: none;
}
.content .form .message{
    margin-top: 100px;
}
.content .gap-2 .btn-primary{
    border-radius: 0;
    background-color: #9c0646;
    border: 1px solid #9c0646;
    font-size: 25px;
    padding: 10px 0;
}
.content .gap-2 .btn-primary:hover{
    background-color: #000;
    color: white;
    border: 1px solid black;
}
.content .office ul{
    margin-left: 30px;
    line-height: 45px;
}
.content .office ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.content .office ul i{
    margin-right: 30px;
}
.content .col-6{
    padding: 0 30px;
}


/* start top footer */
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid;
    width: 54px;
}
.footer .column h4{
    margin-bottom: 20px;
    position: relative;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    font-family: Sofia Pro;
}
.footer .column ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.footer .column ul a:hover{
    color: #9c0646;
}
.footer .column ul li i{
    font-size: 15px;
    margin-right: 10px;
}
.footer .column .social-media{
    margin-top: 15px;
}
.footer .column .social-media a{
    padding: 5px;
}
.footer .column .social-media a i{
    color: #000000;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}
.footer .column .social-media a:hover i{
    color: #9c0646;
    border:2px solid #9c0646 ;
}
.footer .form{
    margin-top: 20px;
}
.footer .column .input{
    line-height: 3.5;
    padding:0 8.6rem 0 .8rem;
    border: 1px solid #c8c7c7;
    position: relative;
}
.footer .column .btn{
    position: absolute;
    right: 90px;
    top: 91px;
    padding: 16px 20px;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
    border-radius: 0;
}

.footer .column .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end top footer */



/* start bottom footer */
.final{
    border-top: 1px solid #E8E8F2;
    padding: 20px 0;
}
.final .payment{
    width: 300px;
}
.final .logo{
    width: 150px;
}
@media screen and (max-width:768px) {
    .footer .form{
        text-align: start;
    }
    .footer .column .btn {
        right: 50%;
        top: 90%;
    }
}
@media screen and (max-width:600px){
    .footer .column .btn{
        right: 0;
        top: 94.5%;
    }
    .final .foot{
        margin: 15px auto;
    }
}
