@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
body{
    font-family: Dancing Script;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
hr{
    margin-top: 50px;
    color: gray;
}
/* header */
.header{
    padding: 15px 0;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header img{
    width: 150px;
}
.header .links a i{
    color: black;
    font-size: 20px;
}
.header .links{
    display: flex;
    gap: 20px;
}
.header .navbar-nav .nav-link{
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
/* header */

/* background */
.question-page{
    background-image: url(../img/about.webp);
    height: 400px;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.question-page .text h2{
    text-align: center;
    font-size: 50px;
    font-weight: 400;
    color: #9c0646;
}
/* end background */

.title{
    padding: 80px 0;
}
.title .text h3{
    font-size: 40px;
    font-weight: 400;
    color: #000;
}
.title .text p{
    font-size: 16px;
    line-height: 30px;
    padding-top: 20px;
}
.updates .text,.form{
    text-align: center;
    margin-top: 70px;
}
.updates .text h3{
    font-size: 30px;
    font-weight: 500;
    line-height: 40px;
}
.updates .text p{
    font-size: 16px;
    color: #000;
    margin-top: 22px;
}
.updates .form input{
    border: none;
    border-bottom: 1px solid black;
    padding-bottom: 16px;
}
.form-control{
    width: 50%;
    margin: auto;
    border-radius: 0;
}
::placeholder{
    color: #000;
}
.updates .form .gap-2 .btn-primary{
    width: 50%;
    margin: auto;
    margin-top: 20px;
    border-radius: 0;
    padding: 10px 0;
    font-size: 20px;
    background-color: #9c0646;
    border: 1px solid #9c0646;
    color: white;
}
.updates .gap-2 .btn-primary:hover{
    background-color: #000;
    border: 1px solid black;
}


/* start top footer */
.footer{
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
}
.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid;
    width: 54px;
}
.footer .column h4{
    margin-bottom: 20px;
    position: relative;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    font-family: Sofia Pro;
}
.footer .column ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.footer .column ul a:hover{
    color: #9c0646;
}
.footer .column ul li i{
    font-size: 15px;
    margin-right: 10px;
}
.footer .column .social-media{
    margin-top: 15px;
}
.footer .column .social-media a{
    padding: 5px;
}
.footer .column .social-media a i{
    color: #000000;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}
.footer .column .social-media a:hover i{
    color: #9c0646;
    border:2px solid #9c0646 ;
}
.footer .form{
    margin-top: 20px;
}
.footer .column .input{
    line-height: 3.5;
    padding:0 8.6rem 0 .8rem;
    border: 1px solid #c8c7c7;
    position: relative;
    margin-right: 150px;
}
.footer .column .btn{
    position: absolute;
    right: 90px;
    top: 91px;
    padding: 16px 20px;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
    border-radius: 0;
}

.footer .column .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end top footer */



/* start bottom footer */
.final{
    border-top: 1px solid #E8E8F2;
    padding: 20px 0;
}
.final .payment{
    width: 300px;
}
.final .logo{
    width: 150px;
}

@media screen and (max-width:768px) {
    .form-control{
        width: 100%;
    }
    .updates .form .gap-2 .btn-primary{
        width: 100%;
    }
    .container{
        max-width: 100%;
    }
    .footer .form{
        text-align: start;
    }
    .footer .column .btn {
        right: 50%;
        top: 90%;
    }
}
@media screen and (max-width:600px){
    .footer .column .btn{
        right: 0;
        top: 94.5%;
    }
    .final .content{
        margin: 15px auto;
    }
}

