@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
body{
    font-family: Dancing Script;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* header */
.header{
    padding: 15px 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.header img{
    width: 150px;
}
.header .links a i{
    color: #9c0646;
    font-size: 20px;
}
.header .links{
    display: flex;
    gap: 20px;
}
.header .navbar-nav .nav-link{
    padding: 10px 20px;
    color: #9c0646;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}

/* header */


/* home section */
.home{
    background-image: url(../img/slider-h1.webp);
    height: 100vh;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
}
.home .text-home h3{
    font-size: 80px;
    font-weight: 400;
    font-family: Sofia Pro;
    color: #9c0646;
}
.home .text-home .btn{
    background-color: transparent;
    border: 1px solid #9c0646;
    border-radius: 0%;
    color: #9c0646;
    padding: 10px 30px;
    transition: all .5s;
}
.home .text-home p{
    margin: 30px 0;
    font-size: 20px;
    font-weight: 500;
}
.home .text-home{
    margin-left: 170px;
}
.home .text-home .btn:hover{
    background-color: aliceblue;
    border: 1px solid white;
}
/* home section */


/* features section */
.features{
    padding: 50px 0;
}
.features .card-img{
    width: 70px;
}
.features .col-lg-4 {
    text-align: center;
}
.features .column{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.features .card-text h3{
    margin: 15px 0 5px 0;
    font-family: Sofia Pro;
    font-size: 22px;
    color: #000;
    font-weight: 600;
}
.features .card-text p{
    width: 75%;
    margin: auto;
    color: #a9a9a9;
    font-size: 16px;
    font-weight: 400;
}
/* features section */

/* cakes section */
.cakes{
    padding: 50px 0;
}
.cakes .cakes-text {
    flex-direction: column;
    display: flex;
    align-items: center;
}
.cakes .text h3{
    font-size: 40px;
    font-weight: 600;
    color: #9c0646;
    font-family: Sofia Pro;
    margin-bottom: 20px;
}
.cakes .buttons .btn{
    border-radius: 0;
    border: 1px solid #9c0646;
    color: #9c0646;
    background-color: white;
    padding: 8px 35px;
}
.cakes .buttons .btn1{
    background-color: #9c0646;
    color: white;
}
.cakes .buttons .btn:hover{
    background-color: #9c0646;
    color: white;
}
.cakes .buttons .btnn{
    margin: 0 10px 0 8px;
}
.cakes .cakes-text a{
    font-size: 16px;
    font-weight: 500;
    color: #000;
}
.cakes .cakes-text p{
    font-size: 15px;
    font-weight: 700;
    color: #9c0646;
    margin-top: 10px;
}
.cakes .col-lg-3 .cakes-text{
    flex-direction: column;
    align-items: start;
    margin-left: 30px;
}
.cakes .cakes-img{
    overflow: hidden;
}
.cakes .cakes-img img{
    transition: all .8s ;
} 
.cakes .col-lg-3:hover .cakes-img img{
    transform: scale(1.1);
}
.cakes .col-lg-3:hover .cakes-text a{
    color: #9c0646;
    transition: all .8s;
    z-index: -1;
}
.cakes .cakes-img{
    position: relative;
}
.cakes .cakes-img .links{
    position: absolute;
    top: 0;
    right: -45px;
    bottom: 0;
}
.cakes .cakes-img .links .icons{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 50px 0;
    align-items:center;
    font-size: 20px;
}
.cakes .cakes-img .icons i{
    border-radius: 50%;
    border: 1px solid white;
    background-color: white;
    box-shadow: 8px 8px 26px #00000011;
    padding: 10px 10px;
}
.cakes .cakes-img .icons a{
    color: #000;
}
.cakes .col-lg-3:hover .cakes-img .links{
    right: 0;
    z-index: 1;
}
.cakes .cakes-img .icons i{
    transition: all .5s;
}
.cakes .cakes-img .links i:hover{
    background-color: #9c0646;
    color: white;
} 
/* end cakes section */


/* best cake section */
.best-cake{
    position: relative;
    margin-top: 50px;
}
.best-cake .banner-info{
    position: absolute;
    top: 35%;
    left: 5%;
    width: 40%;
    border: 1px solid #ffffffbf;
    background-color: #ffffffbf;
    padding: 30px 30px;
}
.best-cake .banner-info h3{
    color: #9c0646;
    font-family: Sofia Pro;
    font-size: 35px;
    font-weight: bold;
}
.best-cake .banner-info p{
    font-size: 18px;
    font-weight: 400;
    margin: 15px 0;
    width: 85%;
}
.best-cake .banner-info .btn{
    background-color:black;
    border: 1px solid black;
    border-radius: 0%;
    color: white;
    padding: 10px 30px;
}
.best-cake .banner-info .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
.best-cake .banner{
    overflow: hidden;
}
.best-cake .banner img{
    transition: all .8s;
}
.best-cake:hover .banner img{
    transform: scale(1.1);
}
/* end best cake section */

/* start main cakes section */
.main-cakes{
    padding: 50px 0;
}
.main-cakes .main-text{
    text-align: center;
}
.main-cakes .main-text h3{
    color: #9c0646;
    font-family: Sofia Pro;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.main-cakes .main-text h6{
    color: #a9a9a9;
}
.main-cakes .col-lg-4 .main-text a{
    color: #000;
    font-family: Sofia Pro;
}
.main-cakes .main-text:hover a{
    color: #9c0646;
}
.main-cakes .main-img img{
    border-radius: 50%;
    border: 10px solid rgba(255, 255, 255, .75);
    padding: 0 30px;
    margin-top: 40px;
    margin-bottom: 10px;
    position: relative;
    transition: all .5s;
}
.main-cakes .main-img {
    overflow: hidden; 
} 
.main-cakes .main-img:hover img{
    transform: scale(1.1);
}
/* end main cake section */

.update{
   padding: 30px 0;
}
.update .update-img{
    padding:30px 40px ;
}
.update .update-img img{
    margin-left: 70px;
}
.update {
    position: relative;
}
.update .update-text{
    position: absolute;
    top: 25%;
    right: 20%;
    padding: 80px 70px 80px 30px;
    background-color: #fff;
    border: 2px solid #9c0646;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.update .update-text h3{
    color: #9c0646;
    font-family: Sofia Pro;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 10px;
}
.update .update-text p{
    font-size: 16px;
    font-weight: 400;
    width: 35%;
    text-align: center;
    color: #9c0646;
    margin-bottom: 20px;
}
.update .update-text .input{
    background-color: #ffecee;
    border: 1px solid #ffecee;
    position: relative;
    line-height: 34px;
    padding-right: 250px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
}
.update .update-text button{
    position: absolute;
    padding: 10px 15px; 
    background-color: #9c0646;
    border: 1px solid #9c0646;
    color: white;
}
.update .update-text button:hover{
    background-color: white;
    color: #9c0646;
}
.update .update-text .form i{
    font-size: 20px;
}

/* start instagram section */
.instagram .headline h3{
    text-align: center;
    font-size: 40px;
    color: #000;
    font-family: Sofia Pro;
    font-weight: 600;
    margin: 30px 0;
}
.instagram .container-fluid .col-3{
    margin-top: 50px;
}

 .instagram .col-3{
    padding: 0;
    margin: 0;
} 
.instagram .insta-img{
    position: relative;
}
.instagram .insta-img .social{
    position: absolute;
    top: 45%;
    left: 45%;
    z-index: -1;
    font-size: 45px;
    font-weight: bold;
    transition: all .5s;
}
.instagram .insta-img i{
    color: white;
}
.instagram .insta-img{
    overflow: hidden;
}
.instagram .insta-img img{
    transition: all .4s ease;
    transition-timing-function: ease-in-out;
    overflow: hidden;
}
.instagram .insta-img:hover img{
    transform: scale(1.2);
} 
.instagram .insta-img:hover .social{
    z-index: 1;
}
.instagram .insta-img .social i{
    transition: all .5s;
}
.instagram .insta-img .social i:hover{
    color: #9c0646;
}
.instagram .insta-img .overlay{
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    background-color: #000000b3;
    z-index: -1;
    transition: all .5s ease;
}
.instagram .insta-img:hover .overlay{
    z-index: 1;
}
/* end instagram section */


/* start top footer */
.footer{
    margin-top: 50px;
    margin-bottom: 50px;
    position: relative;
}
.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid;
    width: 54px;
}
.footer .column h4{
    margin-bottom: 20px;
    position: relative;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    font-family: Sofia Pro;
}
.footer .column ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.footer .column ul a:hover{
    color: #9c0646;
}
.footer .column ul li i{
    font-size: 15px;
    margin-right: 10px;
}
.footer .column .social-media{
    margin-top: 15px;
}
.footer .column .social-media a{
    padding: 5px;
}
.footer .column .social-media a i{
    color: #000000;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}
.footer .column .social-media a:hover i{
    color: #9c0646;
    border:2px solid #9c0646 ;
}
.footer .form{
    margin-top: 20px;
}
.footer .column .input{
    line-height: 3.5;
    padding:0 8.6rem 0 .8rem;
    border: 1px solid #c8c7c7;
    position: relative;
}
.footer .column .btn{
    position: absolute;
    right: 90px;
    top: 91px;
    padding: 16px 20px;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
    border-radius: 0;
}

.footer .column .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end top footer */



/* start bottom footer */
.final{
    border-top: 1px solid #E8E8F2;
    padding: 20px 0;
}
.final .payment{
    width: 300px;
}
.final .logo{
    width: 150px;
}
 
@media screen and (max-width:768px){
    .best-cake .banner-info{
        top: 15%;
        left: 2%;
        width: 72%;
    }
    .home .text-home h3{
        font-size: 50px;
    }
    .home .text-home{
        margin-left: 70px;
    }
    .home{
        height: 79vh;
    }
    .features .column{
        padding-bottom: 50px;
    }
    .update .update-text .input{
        padding-right: 30px;
    }
    .update .update-text{
        padding: 50px 20px;
        right: 10%;
    }
    .update .update-text p{
        width: 70%;
    }
    .footer .column .btn{
        right: 50%;
        top: 90%;
    }
    .best-cake .banner img{
        object-fit: cover;
        min-height: 400px;
    }
    .best-cake .banner-info h3{
        font-size: 30px;
    }
    .best-cake .banner-info p{
        width: 100%;
    }
    .update .update-img img{
        margin-left: 0;
        width: 130%;
    }
    
}
@media screen and (max-width:600px){
    .home{
        height: 70vh;
    }
    .home .text-home h3{
        font-size: 30px;
    }
    .home .text-home{
        margin-left: 20px;
    }
    .features .column{
        padding: 30px 20px;
    }
    .features .card-text p{
        width: 100%;
    }
    .cakes .buttons .btn{
        padding: 8px 20px;
    }
    .best-cake .banner-info h3{
        font-size: 20px;
    }
    .best-cake .banner-info p{
        font-size: 15px;
    }
    .best-cake .banner-info .btn{
        padding: 5px 15px;
    }
     .update .col-lg-6{
        width: 80%;
    } 
    .update .update-text{
        position: static;
    }
    .footer .column .btn{
        right: 0;
        top: 94.5%;
    }
    .final .content{
        margin: 15px auto;
    }
    .instagram .display-none{
        display: none;
    }
}