@import url("bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya:ital,wght@0,400..900;1,400..900&family=Dancing+Script:wght@400..700&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" );
*{
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6,p{
    margin-bottom: 0;
}
body{
    font-family: Dancing Script;
}
img{
    width: 100%;
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
hr{
     margin-top: 50px; 
    color: gray;
}
/* header */
.header{
    padding: 15px 0;
    background-color: white;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}
.header img{
    width: 150px;
}
.header .links a i{
    color: black;
    font-size: 20px;
}
.header .links{
    display: flex;
    gap: 20px;
}
.header .navbar-nav .nav-link{
    padding: 10px 20px;
    color: black;
    font-size: 18px;
    font-weight: 600;
    margin-right: 10px;
}
/* header */

/* first section */
.details{
    margin-top: 70px;
}
.details .col-lg-5 .small-img img{
    padding: 10px 0;
}
.details .col-lg-3 .content{
    border: 1px solid rgba(128, 128, 128, 0.86);
    margin: 0 0 25px 0;
    padding: 25px 20px;
    text-align: center;
}
.details .col-lg-3 .content h3{
    font-weight: 400;
    color: #000;
    font-size: 18px;
    padding-bottom: 18px;
    margin-bottom: 22px;
    position: relative;
}
.details .col-lg-3 .content h3::after{
    content: "";
    position: absolute;
    left: 43%;
    bottom: 0;
    border: 1px solid #000000a4;
    width: 42px;
}
.details .col-lg-3 .content p{
    color: #979797;
    font-size: 14px;
    line-height: 28px;
}
.details .col-lg-4 .title h2{
    font-size: 24px;
    font-weight: 400;
    color: #000;
    margin-bottom: 10px;
}
.details .col-lg-4 .title h3{
    font-size: 20px;
    color: #9c0646;;
}
.details .col-lg-4 .description p{
    font-size: 14px;
    color: #a8a8a8;
    line-height: 28px;
    font-weight: 400;
    padding: 22px 0 0;
    margin-bottom: 20px;
}
.details .col-lg-4 .description  .btn1{
    padding: 12px 39px;
    margin-bottom: 15px;
    background-color: #9c0646;
    color: white;
    border: 1px solid #9c0646;
}
.details .col-lg-4 .description .btn2{
    padding: 10px 100px;
    background-color: #000;
    color: white;
    border: 1px solid black;
}
.details .description .btn1:hover{
    background-color: black;
    border: 1px solid black;
}
.details .description .btn2:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end first section */

/* second section */
.nav .text ul {
    display: flex;
}
.nav .text ul li{
    padding: 0 15px;
    margin-left: 25px;
}
.nav .text ul a{
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
.nav .text .first-a{
    position: relative;
}
.nav .text .first-a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid #9c0646;
    width: 70px;
} 
.bottom{
    margin-top: 30px;
}
.desc-product .col-lg-6 .title{
    padding: 50px 20px;
}
.desc-product .col-lg-6 .title h3{
    font-size: 32px;
    font-weight: 300;
    line-height: 45px;
}
.desc-product .col-lg-6 .title p{
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    color: #a8a8a8;
    padding-top: 20px;
    width: 90%;
}
.desc-product .sec-img{
    margin-top: 150px;
}
/* end second section */

/* third section */
.paragraph{
    padding: 70px 0;
}
.paragraph .text{
    text-align: center;
}
.paragraph .text h3{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
    margin-bottom: 74px;
    position: relative;
}
.paragraph .text h3::after{
    content: "";
    height: 46px;
    width: 1px;
    background: #000;
    position: absolute;
    top: 100%;
    left: 50%;
}
.paragraph .text p{
    font-size: 14px;
    color: #979797;
    line-height: 24px;
    font-weight: 400;
}
/* end third section */

/* img section */
.img img{
    padding: 20px 100px;
}
.sec-hr{
    margin-top: 0;
} 
/* img section */
.products .col-lg-3{
    padding: 0 15px;
}
.products .heading h3{
    font-family: Sofia Pro;
    font-size: 40px;
    font-weight: 600;
    color: #9c0646;
    text-align: center;
   padding: 15px 0;
}
.products .product-title{
    padding-top: 22px;
}
.products .product-title h4 a{
    color: #000;
    font-size: 16px;
}
.products .product-title p{
    padding-top: 6px;
    color: #9c0646;
}


/* start top footer */
.footer{
    margin-top: 70px;
    margin-bottom: 50px;
    position: relative;
}
.footer h4::before{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    border: 1px solid;
    width: 54px;
}
.footer .column h4{
    margin-bottom: 20px;
    position: relative;
    font-size: 22px;
    color: #000000;
    font-weight: 600;
    font-family: Sofia Pro;
}
.footer .column ul a{
    font-size: 15px;
    font-weight: 400;
    line-height: 34px;
    color: #000;
}
.footer .column ul a:hover{
    color: #9c0646;
}
.footer .column ul li i{
    font-size: 15px;
    margin-right: 10px;
}
.footer .column .social-media{
    margin-top: 15px;
}
.footer .column .social-media a{
    padding: 5px;
}
.footer .column .social-media a i{
    color: #000000;
    border-radius: 50%;
    border: 2px solid black;
    padding: 10px 10px;
}
.footer .column .social-media a:hover i{
    color: #9c0646;
    border:2px solid #9c0646 ;
}
.footer .form{
    margin-top: 20px;
}
.footer .column .input{
    line-height: 3.5;
    padding:0 8.6rem 0 .8rem;
    border: 1px solid #c8c7c7;
    position: relative;
}
.footer .column .btn{
    position: absolute;
    right: 90px;
    top: 91px;
    padding: 16px 20px;
    background-color: #6c757d;
    border: 1px solid #6c757d;
    color: white;
    border-radius: 0;
}

.footer .column .btn:hover{
    background-color: #9c0646;
    border: 1px solid #9c0646;
}
/* end top footer */



/* start bottom footer */
.final{
    border-top: 1px solid #E8E8F2;
    padding: 20px 0;
}
.final .payment{
    width: 300px;
}
.final .logo{
    width: 150px;
}
@media screen and (max-width:768px){
    .desc-product .sec-img{
        margin-top: 0;
    }
    .desc-product .col-6 .title{
        padding: 50px 0;
    }
    .paragraph{
        padding: 0;
    }
    .footer .form{
        text-align: start;
    }
    .footer .column .btn {
        right: 50%;
        top: 90%;
    }
    .details .col-lg-3 .content{
        margin-top: 50px;
    }
}
@media screen and (max-width:600px){
    .footer .column .btn{
        right: 0;
        top: 94.5%;
    }
    .final .content{
        margin: 15px auto;
    } 
    .details .col-lg-3 .content{
        margin-top: 50px;
    }
}
